@function darkun-shift($colour){
    @if (lightness($colour) < 25% ) {
        $colour:darken($colour, 20%);   
    }
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes deplacement{
    from {
        position: relative;
        left: 70px;
    }
    to {
        position: relative;
        left: 0px;
    }
}

@keyframes taille_h3{
    from {
        width: 300px;
    }
    to {
        width: 190px;
    }
}

@keyframes taille_p{
    from {
        width: 300px;
    }
    to {
        width: 150px;
    }
}

@keyframes taille_h4{
    from {
        width: 20px;
    }
    to {
        width: 40px;
    }
}