/* Error: expected selector.
 *     ,
 * 142 | <<<<<<< HEAD
 *     | ^
 *     '
 *   CSS\scss\Layout\_header.scss 142:1  @import
 *   CSS\scss\main.scss 10:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a     \2577 \a 142 \2502  <<<<<<< HEAD\d\a     \2502  ^\a     \2575 \a   CSS\\scss\\Layout\\_header.scss 142:1  @import\a   CSS\\scss\\main.scss 10:9             root stylesheet";
}
