@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  font-family: "Shrikhand";
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__title {
  width: 100%;
  height: 45px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title img {
  width: 130px;
}
.header__block {
  width: 100%;
  height: 280px;
  background: hsl(0deg, 0%, 95%);
}
.header__block__formulaire {
  width: 100%;
  display: flex;
  border-top: 3px solid #d4d4d4;
}
.header__block__formulaire__search {
  background: #e6e6e6;
  width: 66%;
  height: 40px;
  margin: 0px;
  padding-left: 9px;
  border-style: solid;
  border-color: #e6e6e6;
}
.header__block__formulaire__search::placeholder {
  color: black;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
}
.header__box__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__box__title__h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
  margin: 0px;
  width: 60%;
  height: 100px;
}
.header__box__title__h2 h2 {
  text-align: center;
  flex-wrap: wrap;
  margin: 0px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
}
.header__box__title__p {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0px;
  width: 100%;
  height: 60px;
}
.header__box__title__p p {
  text-align: center;
  margin: 0px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 14px;
}
.header__block__btn {
  display: flex;
  justify-content: center;
}
.header__block__btn__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  background: hsl(267deg, 66%, 60%);
  width: 170px;
  height: 35px;
  margin: 0px;
  color: white;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 300;
  box-shadow: 5px 5px 8px -3px #a6a6a6, 15px 33px 45px -20px hsl(317deg, 100%, 74%) inset;
}

.fa-map-marker-alt {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #e6e6e6;
  width: 34%;
  height: 40px;
  margin: 0px;
}

.nav {
  width: 100%;
  height: 300px;
}
.nav__title {
  padding-left: 15px;
}
.nav__title h2 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
}
.nav__block {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}
.nav__block__btn {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 600;
  width: 270px;
  height: 55px;
  border-radius: 20px 20px 20px 20px;
  background: hsl(0deg, 0%, 95%);
  box-shadow: 5px 5px 8px #d4d4d4;
}
.nav__block__btn i {
  color: #737373;
}
.nav__block__btn__box {
  padding-right: 10px;
  position: relative;
  left: -5px;
}
.nav__block__btn__box__p {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(267deg, 66%, 60%);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: white;
  font-family: "Roboto";
  font-size: 10px;
  font-weight: 200;
}

.fa-mobile-alt {
  width: 30px;
}

.fa-bars {
  width: 30px;
}

.fa-store {
  width: 30px;
}

.section {
  width: 100%;
  height: 1090px;
  background: hsl(0deg, 0%, 95%);
}
.section__title {
  padding-left: 15px;
  padding-top: 25px;
  height: 80px;
}
.section__title h2 {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 600;
}
.section__block {
  width: 100%;
  height: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section__block a {
  color: black;
}
.section__block a:link {
  text-decoration: none;
}
.section__block__card {
  width: 300px;
  height: 225px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: white;
  box-shadow: 2px 2px 10px #d4d4d4;
  border-radius: 12px 12px 12px 12px;
}
.section__block__card__image {
  width: 100%;
  height: 150px;
  position: relative;
  overflow: hidden;
}
.section__block__card__image__new {
  background: hsl(165deg, 56%, 74%);
  float: right;
}
.section__block__card__image img {
  width: 104%;
  position: absolute;
  top: -45px;
  left: -5px;
}
.section__block__card__block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75px;
  padding-left: 10px;
  border-radius: 0px 0px 12px 12px;
}
.section__block__card__block__title {
  width: 100%;
  height: 23px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
}
.section__block__card__block__p {
  width: 100%;
  height: 35px;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 17px;
}

.footer {
  width: 100%;
  height: 180px;
  background: #404040;
}
.footer__title {
  height: 40px;
  padding-left: 15px;
}
.footer__title h1 {
  font-size: 17px;
  font-weight: 100;
  color: white;
}
.footer__block_lien {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.footer__block_lien__puce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 25px;
  color: white;
}
.footer__block_lien__puce--modif {
  width: 140px;
}
.footer__block_lien__puce p {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
}
.footer__block_lien__nopuce {
  display: flex;
  align-items: center;
  height: 25px;
}
.footer__block_lien__nopuce p {
  color: white;
  font-family: "roboto";
  font-weight: 300;
  font-size: 16px;
}

/*# sourceMappingURL=main.css.map */
