@keyframes beginning {
    0% { 
        opacity: 0;    
        position: relative;
        top: 10px;
    }
    100% {
        opacity: 1;       
        position: relative;
        top: 0px;
    }
}

.section{
    width: 100%;
    height: 1110px;
    background: $colour-block;
    &--secondaire{
        display: flex;
        flex-direction: column;
        background: none;
        height: 1150px;
        &--modif{
            height: 1240px;
        }
    }
    &__title{
        display: flex;  
        align-items: center;   
        justify-content: space-between;  
        padding-top: 45px;        
        padding-left: 20px;
        padding-right: 35px;
        height: 30px; 
        border-radius: 35px 35px 0px 0px;
        background: $colour-block;
        position: relative;
        bottom: 40px;
        & h1{
            font-family: 'Shrikhand';
            align-items: center;
            font-size: 20px;
        }
    }               
    & h2{     
        display: flex;
        align-items: flex-end;       
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 600;
        padding-left: 15px;        
        height: 60px; 
    }
    
    &__block{
        width: 100%;
        height: 970px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;       
        & a{
            color: black;
        }
        & a:link{
            text-decoration: none;
        }
        &__card{
            width: 297px;
            height: 230px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            background: white; 
            box-shadow: 2px 2px 10px $colour-block-12;
            border-radius: 12px 12px 12px 12px;
            &__image{
                width: 100%;
                height: 155px;
                position: relative;
                overflow: hidden;              
                & p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $colour-tertiaire;
                    width: 75px;
                    height: 25px;                                       
                    position: absolute;
                    top: -4px;
                    left: 218px;
                    z-index: 2;
                    font-family: 'roboto';
                    font-weight: 600;
                    font-size: 14px;
                    color: darken($color: hsl(165,56%,74%), $amount: 35%);
                    border-radius: 2px 2px 2px 2px;
                    box-shadow: 2px 2px 10px darken($color: hsl(0,0%,95%), $amount: 30%);
                }
                & img{
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                    position: relative;
                    bottom: 50px;                                                                        
                }
            }
            &__image--modif_1{
                & img{
                    bottom: 135px;
                }   
            }
            &__image--modif_2{
                & img{
                    bottom: 55px;
                }   
            }
            &__image--secondaire{
                width: 100%;
                height: 240px;
                & img{
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                }
            } 
            &__image--modif{
                height: 220px;
                & img{
                    object-fit: cover;
                    width: 100%;
                    height: auto;
                }
            }
            
            &__block{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 70px;
                padding-left: 10px; 
                padding-right: 25px;                         
                border-radius: 0px 0px 12px 12px;
                &--secondaire{                                      
                    padding: 0px;                   
                    height: 1200px;                    
                }
                &__title{
                    width: 100%;
                    height: 35px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    font-family: 'Roboto';
                    font-weight: bold;
                    font-size: 14px;                    
                    & h3{
                        height: 20px;
                        margin: 0px;
                    }                    
                }
                & p{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0px;
                }
            }
            &__choix{
                display: flex;
                flex-direction: column;
                & h2{
                    display: flex;
                    align-items: center;
                    font-family: 'roboto';
                    font-size: 14px;
                    font-weight: 350;
                    margin-left: 20px;
                    padding: 0px;
                    width: 35px;
                    height: 40px;                                                           
                    border-bottom: 3px solid $colour-tertiaire;                    
                }  
                &__block{    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 205px;
                    & div{                        
                        &:nth-child(1){
                            opacity: 0;
                            animation: beginning 1s 0s forwards;                            
                        }
                        &:nth-child(2){
                            opacity: 0;
                            animation: beginning 1s 0.5s forwards;                            
                        }
                        &:nth-child(3){
                            opacity: 0;
                            animation: beginning 1s 1s forwards;                        
                        }
                        &:nth-child(4){
                            opacity: 0;
                            animation: beginning 1s 1.5s forwards;
                        }
                    }
                    &--modif{
                        height: 280px;
                    }                        
                    &__select {
                        display: flex;
                        justify-content: space-between;
                        background: white;   
                        width: 300px;                     
                        height: 60px;
                        border-radius: 15px 15px 15px 15px;
                        box-shadow: 2px 2px 15px $colour-block-12;
                        font-family: 'roboto';
                        overflow: hidden; 
                        cursor: pointer;
                        text-overflow: ellipsis;   
                        &__place {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            width: 300px;
                            padding: 10px;
                            transition: width 1s ease-in-out;
                        }  
                        & h3{
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            height: 20px;
                            margin: 0px;
                            white-space: nowrap;
                            width: 85%;
                            transition: width 1s ease-in-out;
                            & span {
                                text-overflow: ellipsis;
                                overflow: hidden;   
                            }
                        }  
                        &__accompagnement{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            height: 20px;                                                                                     
                            & p{
                                font-size: 12.5px;
                                font-weight: 400;                              
                                white-space: nowrap;
                                width: 85%;
                                transition: width 1s ease-in-out;
                                & span {
                                    text-overflow: ellipsis;
                                    overflow: hidden;   
                                }
                            }   
                        }            
                        &:hover{
                            .back{
                                width: 60px;
                            }
                            .fa-check-circle{
                               animation: rotation 500ms 300ms linear;
                           }
                           .section__block__card__choix__block__select__place {
                               width: 240px;
                           }           
                        }
                        & h3{
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            height: 20px;
                            margin: 0px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden; 
                        }
                    }
                } 
                
            }
        }
    }
}

.back {
    width: 0px;
    transition: width 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colour-tertiaire;  
    border-radius: 0px 15px 15px 0px;
}
.fa-check-circle{
    color: white;  
}
#wrapper{
    position:relative;
    height: 25px;
    cursor: pointer;
}
#color-icon, #base-icon {
    position: absolute;
    top: 6px;
    right: 1px;
    font-size: 20px;
    transition: transform 0.8s;
}
#color-icon {
    background-image: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    background-clip: text; 
    -webkit-background-clip: text;
    color:transparent;
    transform: scale(0);
}
#wrapper:hover .far{
    transform: scale(0);
}
#wrapper:hover .far + i {
    transform: scale(1);
}


@media screen and (min-width:667px){
    .section{
        & h2{
            justify-content: center;
            padding: 0px;
        }
        &--secondaire{
            height: 1320px;
            &--modif{
                height: 1380px;
            }
            & h2{
                justify-content: flex-start;
            }
        }
        &__title{
            padding-left: 20%;
            padding-right: 15%;
        }
        &__block{            
            &__card{              
                &__image{
                    &--secondaire{
                        width: 100%;
                        height: 400px;
                    }
                }
                &__block{
                    &__title{
                        &--secondaire{
                            padding-left: 10%;
                            padding-right: 20%;
                        }
                    }
                }
                &__choix{
                    &__title{
                        padding-left: 30%;
                    }
                }
            }
        }
        &__title{
            padding-left: 50px;
        }
    }
}
@media screen and (min-width:982px){
    .section{
        height:450px;
        width: 100%;
        margin: 0px;
        @media screen and (max-width:1416px) {
            height: 600px;
        }
        &--secondaire{
            height: 1700px;
            &--modif{
                height: 1800px;
            }
        }
        &__title{
            padding-left: 30%;
            padding-right: 35%;
        }
        &__block{                        
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;                       
            margin: 0px;
            height: 300px;
            &--secondaire{
                width: 100%;
                height: 1740px;
                padding: 0px;
                &--modif{
                    height: 1870px;
                }
            }
            & a{
                display: flex;
                justify-content: center;
                width: 350px;
            }
            &__card{
                &--secondaire{
                    width: 100%;
                    height: 1740px;
                    &--modif{
                        height: 1870px;
                    }
                }
                &__image{
                    &--secondaire{
                        width: 100%;
                        height: 900px;
                    }
                }
                &__block{
                    &__title{
                        &--secondaire{
                            padding-left: 25%;
                            padding-right: 35%;
                        }
                    }
                }
                &__choix{
                    &__title{
                        padding-left: 40%;
                    }
                    & h2{
                        margin-left: 30%;
                        @media screen and (min-width:1450px) {
                            margin-left: 35%;
                        }
                    }
                }
            }
        }
    }    
}   